body
{
  background-color: #f7f7f7;
}

@keyframes preloaderAnimation
{}

.preloader
{
  color: #f7f7f7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: "preloaderAnimation";
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}