body
{
  background-color: #f7f7f7;
}

@keyframes preloaderAnimation
{
  0%   {top: 40%}
  100% {top: 60%}
}

.preloader
{
  color: #6e6e6e;
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: "preloaderAnimation";
  animation-duration: 3s;
  animation-iteration-count: infinite;
}