body
{
  background-color: #f7f7f7;
}

@keyframes preloaderAnimation
{
  from {width:100%;}
  to   {width:0%;}
}

.preloader
{
  color: #6e6e6e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: "preloaderAnimation";
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}