body {
  font-size: 15pt;
  color: #ffffff;
  background-color: black;
}

.center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttons {
  color: white;
  border-color: white;
  border-radius: 3px;
  background: none;
}

#bgText {
  font-size: 2pt;
  color: black;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
    color: black;
  }
  25% {
    color: red;
  }
  50% {
    color: hotpink;
  }
  100% {
    color: black;
  }
}